@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  


  body {
    @apply bg-background;



  }
  * {
    @apply text-foreground;
  }
}


:root {
  --background: white;
  --foreground: gray;
}

.dark {
  --background: black;
  --foreground: white;

}